@{
    ViewData["Title"] = "Administrator";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-4">Panel Administratora</h1>
    <button class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Pracownikami</button>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Lotniskami</a>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Lotami</a>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Samolotami</a>
</div>