
@{
    ViewData["Title"] = "Pracownik";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-4">Panel Pracownika</h1>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Lotniskami</a>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Lotami</a>
</div>