
@{
    ViewData["Title"] = "Przewoznik";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1 class="my-4">Panel Przewoźnika</h1>
    <a class="my-2 w-25 btn btn-lg btn-outline-primary">Zarządzaj Samolotami</a>
</div>

