@{
    ViewData["Title"] = "Logowanie";
}

<div class="text-center">
    <h1 class="display-4">Witamy na platformie Samolocik</h1>
    <img class="logo" src="samolocik.png" />
    
    <form name="login-form">
        <h2>Zaloguj się</h2>
        <input type="text" class="form-control" placeholder="Login lub email"/>
        <input type="password" class="form-control" placeholder="Hasło"/>
        <button class="btn btn-primary mb-2" type="submit">Zaloguj</button>
    </form>
</div>
